body{
    position: relative;
    background-color: rgb(199, 237, 243);
}

#calculator{
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    background-color: rgb(88, 232, 116);
    border: 5px solid rgb(0, 0, 0);
    margin: 0 auto;
    margin-top: 40px;
    border-radius: 10% !important;
    overflow: hidden;
} 

#display{
    background-color: rgb(252, 235, 194); 
    padding: 30px; 
    max-height: 150px;
    min-height: 80px;
    border: 5px solid rgb(0, 0, 0);
    margin: 30px;
    border-radius: 20%;
    text-align:right;
    font-family: Monaco;
    font-size: 1cm;
}

#middlebar{
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(88, 232, 116);
    font-size: 0.7cm;
    gap: 40px;
} 

.middlebar{
    border: 5px solid rgb(0, 0, 0);
    padding: 15px;
    border-radius: 50%;
    background-color: rgb(252, 235, 194);
    font-family: Monaco;
    cursor: pointer;
}

.middlebar:hover{
    background-color: rgb(230, 188, 92);
}

#keys{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    font-size: 0.7cm;
}

.row{
    display: flex;
    justify-content: space-evenly; 
}

.numbers{
    border: 5px solid rgb(0, 0, 0);
    padding: 5px 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(252, 235, 194);
    font-family: Monaco;
    cursor: pointer;
}

.numbers:hover{
    background-color: rgb(230, 188, 92);
}

.operators{
    border: 5px solid rgb(0, 0, 0);
    padding: 5px 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(252, 235, 194);
    font-family: Monaco;
    cursor: pointer;
}

.operators:hover{
    background-color: rgb(230, 188, 92);
}

#equalbutton{
    border: 5px solid rgb(0, 0, 0);
    padding: 5px 40px;
    border-radius: 50%;
    text-align: center;
    background-color: rgb(252, 235, 194);
    font-family: Monaco;
    cursor: pointer;
}

#equalbutton:hover{
    background-color: rgb(230, 188, 92);
}

h1{
    text-align: center;
    font-family: Monaco;
    margin-top: 30px;
    font-size: 25pt;
    text-shadow: 0px 5px rgb(88, 232, 116);
}

h6{
    text-align: center;
    font-size: 10pt;
    margin-top: 20px;
    /* margin-bottom: 40px; */
}